{% extends 'story/layout.html' %}

{% block content %}
 <!-- Stories -->
  <div class="stories">
    {% if stories %}
      {% for story in stories %}
        <div class="story__item d-flex justify-content-center align-items-center my-5 py-5">
          <div class="story__container">
            <a href="{% url 'story:story_details' story.id %}">
              <div class="story__image">
                <img src="{{ story.background_image.url }}" alt="" />
              </div>
              <div class="story__content">
                <div>
                  <h2 class="story__text">{{ story.title }}</h2>
                  <h3 class="story__text">{{ story.author }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
